.container {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
}